// game
section.game(data-menu='true')
	a(name='game')
	.layoutWrap
		h2.title JOIN OUR TEAM
		.detail 加入戰隊
		.subTitleWrap
			p.subTitle 
		.embed
			a(href='https://content.ad2iction.com/han/power-rangers/', target='_blank')
				img(src='img/game_visual.jpg', width='100%', height='auto')
		.videoWrap
			.videoYT
				iframe(width='1280', height='720', src='https://www.youtube.com/embed/OAlIolYIUHY?rel=0&VQ=HD720', frameborder='0', allowfullscreen)
		.txtWrap
			.qrcode
				img.qr(src='img/qrcode.jpg')
				.action ▲ 我要變身！
			ul.rule
				li
					.ruleTitle 戰隊守則：
					.ruleTxt 團隊合作、捍衛地球，一起對抗幽冥女王！
				li
					.ruleTitle 入隊時間：
					.ruleTxt 2017/03/09-04/04
				li
					.ruleTitle 入隊規則：
					.ruleTxt 參加「化身金剛戰士的製作專屬影片」活動，就有機會得到《金剛戰士》首三日電影交換券以及金剛戰士聯名款刷樂牙刷3入組。
				li
					.ruleTitle 合格公布：
					.ruleTxt 1. 03/21  公布首三日電影交換券 於 JUKSY粉絲團與 製作影片活動頁面。
						br
						| 2. 04/05  公布聯名款刷樂牙刷3入組於 JUKSY粉絲團與 製作影片活動頁面。
				li
					.ruleTitle 合格獎項：
					.ruleTxt 《金剛戰士》首三日電影交券2張，共計30名。《金剛戰士》聯名款刷樂牙刷3入組，共計 24名。
// game end