// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title PHOTOGRAPHY
		.detail 企劃拍攝
		.subTitleWrap
			p.subTitle 穿搭，是體現自我風格；單品，則能提升整體質感。球鞋、墨鏡、研讀小編為妳準備的妳準備今必修秘技，成為路人眼中的焦點吧！
	ul#gallery_01_slider.slider
		li(data-thumb='img/gallery/g_01/thumb-01.jpg')
			.img
				img(src='img/gallery/g_01/01.jpg', data-width='4928', data-height='3280')
			.txt
				span 五位來自不同背景的高中生組成了金剛戰士
		li(data-thumb='img/gallery/g_01/thumb-02.jpg')
			.img
				img(src='img/gallery/g_01/02.jpg', data-width='3981', data-height='2050')
			.txt
				span 五位高中生在意外的冒險中，獲得了超異能硬幣
		li(data-thumb='img/gallery/g_01/thumb-03.jpg')
			.img
				img(src='img/gallery/g_01/03.jpg', data-width='7360', data-height='4912')
			.txt
				span 五位高中生站在岩石上，將面臨險巨的挑戰
		li(data-thumb='img/gallery/g_01/thumb-04.jpg')
			.img
				img(src='img/gallery/g_01/04.jpg', data-width='3757', data-height='2577')
			.txt
				span 五位高中生意外獲得不可思議的超異能
		li(data-thumb='img/gallery/g_01/thumb-05.jpg')
			.img
				img(src='img/gallery/g_01/05.jpg', data-width='4256', data-height='2832')
			.txt
				span 五位高中深前往神祕地點探查
		li(data-thumb='img/gallery/g_01/thumb-06.jpg')
			.img
				img(src='img/gallery/g_01/06.jpg', data-width='2048', data-height='1077')
			.txt
				span 由《魔戒》服裝設計團隊造全新的戰士服
		li(data-thumb='img/gallery/g_01/thumb-07.jpg')
			.img
				img(src='img/gallery/g_01/07.jpg', data-width='4256', data-height='2832')
			.txt
				span 伊莉莎白班克斯在劇中扮演幽冥女王
		li(data-thumb='img/gallery/g_01/thumb-08.jpg')
			.img
				img(src='img/gallery/g_01/08.jpg', data-width='6492', data-height='8100')
			.txt
				span 伊莉莎白班克斯扮演幽冥女王
		li(data-thumb='img/gallery/g_01/thumb-09.jpg')
			.img
				img(src='img/gallery/g_01/09.jpg', data-width='4928', data-height='3280')
			.txt
				span 伊麗莎白班克絲演出大反派幽冥女王
		li(data-thumb='img/gallery/g_01/thumb-10.jpg')
			.img
				img(src='img/gallery/g_01/10.jpg', data-width='4896', data-height='3264')
			.txt
				span 貝琪戈梅（Becky Gome）飾黃衣戰士
		li(data-thumb='img/gallery/g_01/thumb-11.jpg')
			.img
				img(src='img/gallery/g_01/11.jpg', data-width='4000', data-height='2658')
			.txt
				span 來自外星的幽冥女王，最終目的是毀滅地球
		li(data-thumb='img/gallery/g_01/thumb-12.jpg')
			.img
				img(src='img/gallery/g_01/12.jpg', data-width='3841', data-height='2556')
			.txt
				span 林路迪（Ludi Lin）飾黑衣戰士
		li(data-thumb='img/gallery/g_01/thumb-13.jpg')
			.img
				img(src='img/gallery/g_01/13.jpg', data-width='4517', data-height='3006')
			.txt
				span 幽冥女王充滿自信又邪惡的笑容
		li(data-thumb='img/gallery/g_01/thumb-14.jpg')
			.img
				img(src='img/gallery/g_01/14.jpg', data-width='4440', data-height='4170')
			.txt
				span 幽冥女王的造型於過去截然不同
		li(data-thumb='img/gallery/g_01/thumb-15.jpg')
			.img
				img(src='img/gallery/g_01/15.jpg', data-width='4317', data-height='3280')
			.txt
				span 娜歐蜜史考特（Naomi Scott）飾粉紅戰士
		li(data-thumb='img/gallery/g_01/thumb-16.jpg')
			.img
				img(src='img/gallery/g_01/16.jpg', data-width='1750', data-height='2500')
			.txt
				span 智多星背面
		li(data-thumb='img/gallery/g_01/thumb-17.jpg')
			.img
				img(src='img/gallery/g_01/17.jpg', data-width='2048', data-height='1066')
			.txt
				span 新版宙威更為精緻
		li(data-thumb='img/gallery/g_01/thumb-18.jpg')
			.img
				img(src='img/gallery/g_01/18.jpg', data-width='1750', data-height='2500')
			.txt
				span 新版的智多星更為精煉與充滿異星效果
		li(data-thumb='img/gallery/g_01/thumb-19.jpg')
			.img
				img(src='img/gallery/g_01/19.jpg', data-width='3000', data-height='1950')
			.txt
				span 新版金剛戰士盔甲更具未來感
		li(data-thumb='img/gallery/g_01/thumb-20.jpg')
			.img
				img(src='img/gallery/g_01/20.jpg', data-width='7092', data-height='8412')
			.txt
				span 新版幽冥女王更為霸氣時尚
		li(data-thumb='img/gallery/g_01/thumb-21.jpg')
			.img
				img(src='img/gallery/g_01/21.jpg', data-width='4896', data-height='3264')
			.txt
				span 達西孟戈梅瑞（Dacre Montgomery）飾紅衣戰士
		li(data-thumb='img/gallery/g_01/thumb-22.jpg')
			.img
				img(src='img/gallery/g_01/22.jpg', data-width='4256', data-height='2832')
			.txt
				span RJ 賽勒（RJ Cyler）飾藍衣戰士
// gallery01 end