// list03_infinite
section.list_03_infinit.list_03(data-menu='true')
	.layoutWrap(data-tags='["金剛戰士"]',data-filter='[62229, 62228, 62230]')
		h2.title RELATED POSTS
		.detail 超異能補充
		.subTitleWrap
			p.subTitle Go！Go！Power Rangers！地球的命運就在我們的手上，拿起武器對抗侵入者！ 
// list03_infinite end