// list04
section.list_04(data-menu='true')
	.layoutWrap
		h2.title  SELECTED ARTICLES
		.detail 戰士登場
		.subTitleWrap
			p.subTitle 經過20年的沉澱，金剛戰士重回大螢幕，帶你重新認識全新的Power Rangers！
		.sliderWrap
			.slidesWrap.wow.custom_fadeinup
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/62229', target='_blank', data-imgload='https://static.juksy.com/files/cover/62229/58a69aa981146.png?m=resize&i=600x600&e=jpg&q=100')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/62229', target='_blank')
								h3 重裝進化、顏值激升，《金剛戰士》23年前後演員世紀比對！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/62228', target='_blank', data-imgload='https://static.juksy.com/files/cover/62228/58a43eafa64a0.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/62228', target='_blank')
								h3 噢不，玩壞了童年！3 大崩壞款《金剛戰士》弄笑一票網友
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/62230', target='_blank', data-imgload='https://static.juksy.com/files/cover/62230/58a449b57f3ee.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/62230', target='_blank')
								h3 是童年！眾生追憶的 5 部經典美劇，7 年級生：雞皮疙瘩的有感
// list04 end